.wrapper {
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  &:last-child {
    margin-bottom: 0;
  }
}

.offer {
  display: grid;
  grid-template-columns: 40px auto 45px;
  align-items: center;
  -ms-wrap-flow: both;
  //align-items: center;
  //justify-content: space-between;
  padding: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  &:not(:only-of-type) {
    border-bottom: 1px solid #c5e0ff;
    &:last-child {
      border-bottom: 0;
    }
  }
  > * {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.cabinet {
  word-break: break-all;
  justify-self: center;
}

.lessionName {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: start;
}

.typeAndTeacher {
  font-size: 0.923077rem; //12px
}

@media screen and (max-width: 370px) {
  .offer {
    padding: 7px;
    > * {
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
