* {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: var(--black);
  box-sizing: border-box;

  --black: #121212;
  --accent-blue: #66acff;
  --second-blue: #dcecff;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
